@import url("global.css");

#content:empty {
  content: "Loading options page…";
  text-align: center;
  margin: 1rem;
}

.color-preset {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--input-border);
  display: inline-block;
  margin-right: .2rem;
  vertical-align: middle;
  cursor: pointer;
}
.color-preset:before {
  content: "✓";
  color: #fff;
  text-shadow: 0 0 2px var(--input-border), 0 0 3px var(--input-border);
  font-size: .7em;
  line-height: 1rem;
  text-align: center;
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  opacity: 0;
  transition: opacity .2s linear;
  font-weight: bold;
}
.color-preset.current:before {
  opacity: 1;
}

.fancy-radio {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.fancy-radio > label {
	display: block;
	margin: 3px;
	position: relative;
	cursor: pointer;
}
.fancy-radio > label > img {
	display: block;
	height: 32px;
	padding: 3px;
	border: 5px solid transparent;
	border-radius: 8px;
}
.fancy-radio > label.dark > img {
	background-color: #eee;
}
.fancy-radio > label.light > img {
	background-color: #333;
}
.fancy-radio > label > input {
	position: absolute;
	left: -100px;
	width: 0;
	height: 0;
}
.fancy-radio > label > input:checked ~ img,
.fancy-radio > label:hover > input ~ img {
	border-color: var(--input-border-focus);
}

.notification-type-section h2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.notification-type-section h2 .notification-type-section-icon {
  height: 1em;
  width: 1em;
  margin-right: .5rem;
  vertical-align: middle;
  display: block;
  flex: 0 0 auto;
}

.notification-type-section h2 .notification-type-section-title {
  height: 1em;
  width: 1em;
  margin-right: .5rem;
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
  flex: 1 1 auto;
}

.notification-type-section + .notification-type-section h2 {
  margin-top: .5rem;
}

.notification-type-options {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.notification-type-options .col-auto {
  flex: 0 0 auto;
}

.notification-type-options .col {
  flex: 1 1 auto;
  padding: 0 1rem;
}

.notification-type-options select[multiple] {
  height: 11rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
}

.flex-actions {
	display: flex;
	margin-top: 1.2em;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.flex-actions > div {
	display: inherit;
	flex-flow: inherit;
	align-items: inherit;
}
.flex-save {
	justify-content: flex-start;
}
.flex-save p {
	margin: 0;
}

#saved-settings:not(.hidden) {
	animation: fade-out .5s 1.5s linear forwards;
	user-select: none;
	cursor: default;
}

@keyframes fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}
