:root {
  --popup-bg: #dae5d6;
  --popup-text: #0c0c0c;
  --icon-bg-normal: #475c4d;
  --icon-border: transparent;
  --icon-text: #fff;
  --icon-color: #dae5d6;
  --icon-hover-color: #f7faf7;
  --footer-bg: #475c4d;
  --footer-text: #dae5d6;
  --footer-text-hover: #f7faf7;
  --link-normal: #0c0c0c;
  --link-hover: #2c87a5;
  --block-tab-border: #294229;
  --input-text: #0e0d20;
  --input-border: #5d5d6c;
  --input-border-focus: #00d38f;
  --error-bg: #f0cfcb;
  --error-border: #e2a39b;
  --feedback-item-bg: #e6ede4;
  --feedback-item-bg-new: #eaf0c2;
  --feedback-item-text-muted: #5d5d6c;
  --feedback-item-text-new: #842f36;
}
