:root {
  --popup-bg: #06070d;
  --popup-text: #e0e0e0;
  --icon-bg-normal: #06070d;
  --icon-border: transparent;
  --icon-text: #e0e0e0;
  --icon-color: #f2f2f2;
  --icon-hover-color: #fff;
  --footer-bg: #161a1f;
  --footer-text: #b1b1b9;
  --footer-text-hover: #f2f2f2;
  --link-normal: #fff;
  --link-hover: #00d38f;
  --block-tab-border: #2d492d;
  --input-text: #f1f2df;
  --input-border: #5d5d6c;
  --input-border-focus: #00d38f;
  --error-bg: #66211f;
  --error-border: #b3312e;
  --feedback-item-bg: #161a1f;
  --feedback-item-bg-new: #393c1a;
  --feedback-item-text-muted: #838592;
  --feedback-item-text-new: #974349;
}
